<div class="row">
  <h2>Proyectos realizados</h2>
  <div class="contenedor">
    <div>
      <div class="col-12">
        <h3>Proyecto 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
          accusantium officiis voluptates assumenda reiciendis nostrum, minus
          fuga aperiam rem odit earum dolorum officia voluptatem consequatur
          placeat sint corporis! Omnis, earum!
        </p>
      </div>
      <div class="col-12">
        <h3>Proyecto 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
          accusantium officiis voluptates assumenda reiciendis nostrum, minus
          fuga aperiam rem odit earum dolorum officia voluptatem consequatur
          placeat sint corporis! Omnis, earum!
        </p>
      </div>
      <div class="col-12">
        <h3>Proyecto 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
          accusantium officiis voluptates assumenda reiciendis nostrum, minus
          fuga aperiam rem odit earum dolorum officia voluptatem consequatur
          placeat sint corporis! Omnis, earum!
        </p>
      </div>
    </div>
  </div>
</div>
