<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img id="fotodeperfil" src="../../../assets/fotocv.jpg" class="img-fluid" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{ persona.nombre }} hola!</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ratione
        tempora minus, necessitatibus quaerat praesentium atque rem corrupti
        sunt amet fugit mollitia fugiat eos totam ducimus dolor soluta enim?
        Soluta!
      </p>
    </span>
  </div>
</div>
