<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" id="logoAP" />
    </div>
    <div class="redes"></div>

    <div class="d-felx align-self-end">
      <a
        href="/login"
        (click)="login()"
        *ngIf="!isLogged"
        class="btn btn-outline-primary"
        >Ingresar</a
      >
      <a
        href="/login"
        (click)="onLogOut()"
        *ngIf="isLogged"
        class="btn btn-outline-primary"
        >Cerrar sesión</a
      >
    </div>
  </div>
</div>
